@font-face {
    font-family: 'CothamSansRegular';
    src: url('/fonts/CothamSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bagnard';
    src: url('/fonts/Bagnard.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --white:   oklch(95% 0 87);
    --text-1:  oklch(95% 0 87);
    --text-2:  oklch(75% 0 87);
    --text-3:  oklch(55% 0 87);
    --theme-1: oklch(42.0% 0.0187 167.75);
    --theme-2: oklch(38.0% 0.0187 167.75);
    --theme-3: oklch(34.0% 0.0187 167.75);
    --theme-4: oklch(30.0% 0.0187 167.75);
    --theme-5: oklch(27.0% 0.0187 167.75);
    --link-hover-text: oklch(0.7698 0.0329 159.97);

    --font-body: CothamSansRegular, serif;
    --font-title: Bagnard, sans;
}


/************************/
/* Reset Browser Styles */
/************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***************/
/* Base Styles */
/***************/

html {
    font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}

a {
    color: var(--text-1);

    &:visited {
        color: var(--text-2);
    }

    &:hover {
        color: var(--link-hover-text);
    }
}


/***************/
/* Site Styles */
/***************/

html {
    background-color: var(--theme-5);
    color: var(--text-1);
}

/************************/
/* Page Specific Styles */
/************************/

/* Front Page */
#homepage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "tl tc tr"
        "cl c  cr"
        "bl bc br";
    row-gap: 2rem;

    > h1, > h2 {
        transition-property: scale;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
    }

    > #homepage-title {
        margin: auto;
        text-align: center;
        grid-area: c;

    }

    > #homepage-excursus {
        grid-area: bl;
        font-family: var(--font-title);
        font-size: 2em;
        padding-top: 2em;

        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    > #homepage-projects {
        grid-area: br;
        font-family: var(--font-title);
        font-size: 2em;
        padding-top: 2em;
    }

    > #homepage-start-msg {
        text-align: center;
        opacity: 0%;
        grid-area: bc;

        /* TODO: y-coord is arbitrary, is there some way to calculate it? */
        transform-origin: 50% -50%;
    }
    > #homepage-start-msg.a-homepage-start-msg {
        animation-name: a-homepage-start-msg-blink;
        animation-delay: 5s;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in;
    }

    .t-homepage-zoom {
        scale: 100;
    }
}

@keyframes a-homepage-start-msg-blink {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

#lost-in-space {
    display: block;
    width: 100vw;
    height: 100vh;
    scale: 0%;

    transition-property: scale;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#lost-in-space.t-lost-in-space-zoom {
    scale: 1;
}

