{% extends "base.html" %}
{% block body %}
<div id="homepage">
    <h1 id="homepage-title">
        JB<br />6.75
    </h1>
    <div id="homepage-excursus">
        <a href="/notes/">
            Notes
        </a>
    </div>
    <div id="homepage-projects">
        <a href="/projects/">
            Projects
        </a>
    </div>
    <h2 id="homepage-start-msg">
        Press Space to Begin
    </h2>
</div>
<canvas id="lost-in-space"></canvas>

<script src="/js/lost-in-space.js"></script>
{% endblock body %}
